@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #0f1014;
}

/* -------- custom scrollbar -------- */

::webkit-scrollbar{
  width: 15px;
}
::webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#8800d4, purple);
  border-radius: 10px;
}